.hamburger-toggle span {
    position: relative;
    transition: transform .5s cubic-bezier(.22, .61, .36, 1), opacity .5s linear .5s;
}

.hamburger-toggle:hover .wrapper__hamburger span:first-child {
    transform: translate3d(-2.25rem, 0, 0);
}

.hamburger-toggle:hover .wrapper__hamburger span:nth-child(2) {
    transform: translate3d(2.25rem, 0, 0);
}

.hamburger-toggle span:after {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1.625rem;
    content: "";
    background-color: #fff;
}

.is-shown.hamburger-toggle span:after {
    background-color: #121212;
}

.header-dark-active span:after {
    background-color: #121212;
}

.hamburger-toggle .wrapper__hamburger span:first-child::after {
    left: 2.25rem;
}

.hamburger-toggle .wrapper__hamburger span:nth-child(2)::after {
    left: -2.25rem;
}

.site-logo svg {
    transition: transform .65s cubic-bezier(.22, .61, .36, 1), fill .8s cubic-bezier(.22, .61, .36, 1);
    transform: translate3d(0, 0rem, 0);
}

.site-logo-animation svg {
    transform: translate3d(0, -3.75rem, 0);
}

.site-header {
    opacity: 0;
    transition: top .7s cubic-bezier(.22, .61, .36, 1), opacity 1s cubic-bezier(.22, .61, .36, 1);
    top: -1.875rem;
}

.now-visible.site-header {
    opacity: 1;
    top: 30px;
}

.is-open .wrapper__close span {
    opacity: 1;
    transition: transform .5s cubic-bezier(.22, .61, .36, 1) .5s, opacity .5s linear, background-color .8s cubic-bezier(.22, .61, .36, 1);
}

.is-open .wrapper__close span:first-of-type {
    transform: rotate(45deg) translate3d(.125rem, .1875rem, 0);
}

.is-open .wrapper__close span:nth-of-type(2) {
    transform: rotate(-45deg) translate3d(.125rem, -.1875rem, 0);
}

.wrapper__hamburger span {
    transition: transform .5s cubic-bezier(.22, .61, .36, 1), opacity .5s linear .5s;
}

.is-open .wrapper__hamburger span {
    opacity: 0;
    transition: transform .5s cubic-bezier(.22, .61, .36, 1), opacity .5s linear;
}

.menu-drawer .stroke-text {
    -webkit-text-stroke: .015em #fff;
    -webkit-text-fill-color: transparent;
}

.menu-drawer .stroke-text::before {
    -webkit-text-fill-color: #fff;
}

.menu-stroke-link::before {
    -webkit-text-fill-color: #e9d1ca;
}

.menu-drawer .active-link::before {
    max-width: 100%;
}

.menu-drawer .active-link-sm::before {
    max-width: 0%;
}
#team header .site-logo svg path,
#about-pages header .site-logo svg path,
#homepage header .site-logo svg path {
    @apply fill-white;
}
#team .hamburger-toggle .wrapper__hamburger span::after,
#team header .hamburger-toggle span,
#homepage .hamburger-toggle .wrapper__hamburger span::after,
#homepage header .hamburger-toggle span,
#about-pages .hamburger-toggle .wrapper__hamburger span::after,
#about-pages header .hamburger-toggle span
{
    @apply bg-white;
}

#homepage.active header .site-logo svg path {
    @apply fill-dark;
}

#homepage.active .hamburger-toggle .wrapper__hamburger span::after,
#homepage.active header .hamburger-toggle span {
    @apply bg-dark;
}

#homepage.active .hamburger-toggle {
    @apply bg-[#f4f2f2]
}


#personal-training header .site-logo svg path {
    @apply fill-dark delay-500 duration-[.8s];
}
#team.active .hamburger-toggle .wrapper__hamburger span::after,
#team.active header .hamburger-toggle span,
#about-pages.active .hamburger-toggle .wrapper__hamburger span::after,
#about-pages.active header .hamburger-toggle span,
#personal-training:not(.active) .hamburger-toggle .wrapper__hamburger span::after,
#personal-training:not(.active) header .hamburger-toggle span {
    @apply bg-dark;
}
#about-pages.active .hamburger-toggle,
#team.active .hamburger-toggle,
#personal-training:not(.active) .hamburger-toggle {
    @apply bg-[#f4f2f2]
}


