.ex-type-outline{
-webkit-text-fill-color: transparent;
-webkit-text-stroke-color: #fff;
-webkit-text-stroke-width: .012em;
}
.white-stroke{
-webkit-text-fill-color: transparent;
-webkit-text-stroke: .0625rem #fff;
}
.dark-stroke{
    -webkit-text-fill-color: transparent;
-webkit-text-stroke: .0625rem #121212;
}